////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////// CSS3 PREFIX MIXINS //////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
////////////////////////////// TABLE OF CONTENTS ///////////////////////////////
////////////////////////////////////////////////////////////////////////////////

//
// border-radius
// box-shadow
// box-sizing
// clearfix
// ie
// linear-gradient
// opacity
// transform
// transition

////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// border-radius /////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

border-radius() {
  -webkit-border-radius: arguments;
  -moz-border-radius: arguments;
  border-radius: arguments;
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   border-radius: 5px;
// }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// box-shadow //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

box-shadow() {
  -webkit-box-shadow: arguments;
  -moz-box-shadow: arguments;
  box-shadow: arguments;
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   box-shadow: 0px 0px 10px black;
// }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// box-sizing //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

box-sizing() {
  -webkit-box-sizing: arguments;
  -moz-box-sizing: arguments;
  box-sizing: arguments;
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   box-sizing: border-box;
// }

////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// clearfix ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

clearfix() {
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
	.clearfix {
    +ie(7) {
      display: inline-block;
    }
	}
	html[xmlns] .clearfix {
    display: block;
	}
  * html .clearfix {
    height: 1%;
  }
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// clearfix()

////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// ie ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

ie(args...) {
  for $i in args {
    html.ie{$i} & {
      {block}
    }
  }
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   +ie(7,8) {
//     color: red;
//   }
// }

////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// linear-gradient ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

linear-gradient() {
  background: url("http://svg.mx?v="+ replace('#', '%23', join(', ', arguments)));
  background: -webkit-linear-gradient(unquote(join(', ', arguments)));
  background: -moz-linear-gradient(unquote(join(', ', arguments)));
  background: -ms-linear-gradient(unquote(join(', ', arguments)));
  background: -o-linear-gradient(unquote(join(', ', arguments)));
  background: unquote("linear-gradient("+join(', ', arguments)+")");
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   linear-gradient(top, #fff 30%, #000 100%);
// }

////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// opacity ////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

opacity() {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + round(arguments * 100) + ")";
  filter: unquote('alpha(opacity=' + round(arguments * 100) + ')');
  opacity: arguments;
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   opacity: 0.5;
// }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// transform ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

transform() {
  -webkit-transform: arguments;
  -ms-transform: arguments;
  transform: arguments;
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   transform: rotate(7.5deg);
// }

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// transition //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////
//////////////// MIXIN ////////////////
///////////////////////////////////////

transition() {
  -webkit-transition: arguments;
  transition: arguments;
}

//////////////////////////////////////
///////////// HOW TO USE /////////////
//////////////////////////////////////

// div {
//   transition: all 0.3s ease-out;
// }