@mixin linear-gradient($colors...) {
	background: url("http://svg.mx?v="+urlencode($colors));
	background: -webkit-linear-gradient(unquote($colors));
	background: -moz-linear-gradient(unquote($colors));
	background: -ms-linear-gradient($colors);
	background: -o-linear-gradient($colors);
	background: unquote("linear-gradient("+$colors+")");
}

body {
	@include linear-gradient(top, #fff 0%, #000 100%);
}