@import "prefixMixins";
clearfix();

$break = 768px;

body {
	linear-gradient(rgba(0,0,0,0.5) 0%, rgba(255,255,255,1) 100%);
}

div {
	linear-gradient(top, #fff 30%, #000 100%);
	box-shadow: 0px 0px 10px black;
	opacity: 0.5;
	transform: rotate(5deg);
	+ie(7,8) {
		border: 3px solid black;
	}
	@media screen and (max-width: $break) {
		box-shadow: 0px 0px 4px grey;
	}
}

@keyframes foo {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

@keyframes test {
	for $i in 0..10 {
		{10% * $i} {
			opacity: ($i/10);
		}
	}
}